html {
  font-family: Roboto, sans-serif, arial;
  color: #222831;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input {
  outline: none;
}

ul {
  list-style: none;
}
